@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

html{
    font-size: 62.5%; /*diminuer la taille du texte*/
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 6px;
}

header{
    display: flex; /*met acceuil et autres en ligne*/
    align-items: center;/*met au centre le fastfood*/
    justify-content: space-between; /*mets acceuil et autres a droite*/
    padding: 20px 10%; /*met en norme la poportion de fastfood et la liste*/
}

header .logo span{
    color: #f46a06;/*met en orange le food du fastfood*/
}


.menu_number{
    display: flex;
    align-items: center;
}

.menu_number .number{
    margin-left: 25px; /*espace entre la liste et les numbers*/
}

.menu{
    display: flex; /*met en ligne le menu*/
}

.menu li{
    margin-left: 25px;
    list-style: none;
}


.menu li a {
    font-size: 12px;
    text-decoration: 0;
    color: #f46a06;
    text-transform: capitalize; /*mettre les lettres en capitle*/
}

.number {
    background-color: #f46a06;
    padding: 7px 30px;
    color: #fff;
}

/*home css*/
.home {
padding: 0 10%; /*bien ordoner les textes*/
min-height: 70vh;
display: flex;
align-items: center; /*mettre les textes au centre ...milieu*/
justify-content: center;
}


.site_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site_desc .left{
    width: 40%; /*mettre le texte a gauche*/
}

.site_desc .left h1{
    font-size:  30px; /*augmenter la taille de h1*/
}

.site_desc .left p{
    color: #999;
    margin-top: 10px;
}


.left_button{
    display: flex;
    margin-top: 20px;
}

.left_button a{
    padding: 10px 20px;
    align-items: center;
    font-size: 12px;
}

a{
    display: flex;
    text-decoration: 0;
}


a img{
    width: 20px;
    margin-left: 5px; /*taille de l'image apprendre plus*/
}

.left_button a:first-child{
    background-color: #f46a06; /*met en orange toute la partie de commander*/
    color: #fff;
}

.left_button a:last-child{
    margin-left: 25px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.site_desc .right{
    width: 45%;
    height: 350px;
}


.site_desc .right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 /*statistics css*/

.info-statistics{
    background-color: #f46a06;
    display: flex;
    align-items: center;                /*le bas de la page*/
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 15%;
}

.info-statistics .box{
    text-align: center ;

} 

.info-statistics .box p{
    color: #fff;
    font-size: 12px;
}

.info-statistics .box h1{
    font-size: 25px;
    color: #fff;
}

 /*A propos css*/

 .about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;  /*taille de l'image dans l'ensemble*/
    padding: 50px 10%;
 }

 .about-us .left{
    width: 50%;
 }

 .about-us .left img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1) ; 
 }


 .about-us .right{
    width: 40%;
 }

 .about-us .right h2{
    font-size: 25px;
 }

 .about-us .right p {
    margin: 10px 0;
    color: #999;
 }

 .about-us .right button{
    padding: 8px 20px;
    background-color: #f46a06;
    border: 0;
    color: #fff;
 }

 .about-us .right button a {
    color: #fff;
    display: flex;
    align-items: center;
 }

/*Services CSS*/

.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.services p{
    font-size: 13px;
    color: #555555;
}

.services .left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
   
.text {
    padding: 10px 0;
}

.services .left h2{
    font-size: 25px;
}

.services .left .services{
    display: flex;
    align-items: center;
}

.services .left .services img{
    width: 25px;
}

.services .left button{
    margin-top: 20px;
    width: fit-content;
    padding: 10px 25px;
    background-color: #f46a06;
    border: 0;
}

.services .left button a {
    color: #fff;
    display: flex;
    align-items: center;
}

.services .left .services p{
    margin-left: 10px;
}

.services .right{
    width: 55%;
    height: 500px;
}

.services .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)  ;
}

/*banner css*/
.banner{
    text-align: center;
    margin: 50px 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/img3.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.banner h1{
    color: #f46a06;
    font-size: 30px;
}

.banner p{
    font-size: 15px;
    padding: 5px 0;
    color: #fff;
}

/*meal css*/
.meal{
    margin: 100px 0;
}

.meal  {
    text-align: center;
}

.meal  h1{
    font-size: 30px;
    padding: 15px 0;
}

.meal  p {
    color: #555555;
    font-size: 14px;
    padding: 5px 0;
}

.bottom {
    margin: 60px 12%;
    display: flex;
    justify-content: space-between;
}

.botton{
    display: flex;
    justify-content: space-around;
}

 .botton .box{
    text-align: center;
    width: 30%;
}

 .botton .box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

 .botton .box h4{
    font-size: 20px;
    margin: 10px 0;
}


 .botton .box p{
    margin: 5px 0;
    font-size: 12px;
    color: #999;
}

 .botton .box span{
    font-size: 25px;
    color: #f46a06;
}

 .botton .box button a img{
    width: 20px;
    height: 20px;
    width: fit-content;
}

 .botton .box button{
    background-color: #f46a06;
    border: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding: 5px ;
}

.botton .box button a {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

footer{
    background-color: #f46a06;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}






























